<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Compra registrada</title>
        <link rel="stylesheet" href="../public/css/styles.css">
    </head>
    <body>
        <table class="container">
            <tr>
                <td class="content" align="center">
                    <table class="inner" style="background-color: #ffffff;">
                        <tr>
                            <td align="center">
                                <h1>
                                    Tu compra ha sido registrada con éxito. <br>
                                </h1>
                                <p style="margin-top: 20px;">En breve recibirás un correo indicando el estado de tu compra.</p>
                                <a align="center" style="margin-top: 20px;" class="button" href="http://ec2-18-222-69-228.us-east-2.compute.amazonaws.com">
                                    Visita nuestro sitio web
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="content" align="center">
                    <table class="inner" style="background-color: #ffffff;">
                        <caption>
                            <h2>
                                Detalle de tu pedido.
                            </h2>
                        </caption>
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Precio unitario</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="content" align="center">
                    <table class="inner" style="background-color: #ffffff;">
                        <tr>
                            <td align="center">
                                <p>Si necesitas ponerte en contacto con nosotros, no dudes en utilizar las siguientes opciones:</p>
                                <a class="button" href="https://wa.me/50245392280">WhatsApp</a>
                                <a class="button" href="https://www.facebook.com/Repuestosjerico?mibextid=ZbWKwL">Facebook</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>